$open-stack = "Fira Sans OT", "Fira Sans", FiraSansWeb, "Open Sans", "Helvetica Neue", Arial, sans-serif;

@font-face {
    font-family: 'FiraSansWeb';
    src: local('Fira Sans OT Light Regular'),
         local('Fira Sans Light Regular'),
         local('Fira Sans OT Light'),
         local('Fira Sans Light'),
         local('Fira Sans OT'),
         local('Fira Sans'),
         url($mp-fonts-path + '/fonts/FiraSans/FiraSans-Light.woff') format('woff'),
         url($mp-fonts-path + '/fonts/FiraSans/FiraSans-Light.svg#FiraSansLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSansWeb';
    src: local('Fira Sans OT Regular'),
         local('Fira Sans Regular'),
         local('Fira Sans OT'),
         local('Fira Sans'),
         url($mp-fonts-path + '/fonts/FiraSans/FiraSans-Regular.woff') format('woff'),
         url($mp-fonts-path + '/fonts/FiraSans/FiraSans-Regular.svg#FiraSansRegular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSansWeb';
    src: local('Fira Sans OT Medium Regular'),
         local('Fira Sans Medium Regular'),
         local('Fira Sans OT Medium'),
         local('Fira Sans Medium'),
         local('Fira Sans OT'),
         local('Fira Sans'),
         url($mp-fonts-path + '/fonts/FiraSans/FiraSans-Medium.woff') format('woff'),
         url($mp-fonts-path + '/fonts/FiraSans/FiraSans-Medium.svg#FiraSansMedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSansWeb';
    src: local('Fira Sans OT Bold'),
         local('Fira Sans Bold'),
         local('Fira Sans OT'),
         local('Fira Sans'),
         url($mp-fonts-path + '/fonts/FiraSans/FiraSans-Bold.woff') format('woff'),
         url($mp-fonts-path + '/fonts/FiraSans/FiraSans-Bold.svg#FiraSansBold') format('svg');
    font-weight: 600;
    font-style: normal;
}
