{% extends 'examples/base.html' %}

{% block page %}
<h2>Button element Buttons</h2>
<button class="button">Default Button</button>
<button class="button" disabled>Default Button (disabled)</button>
<button class="button cta">Call To Action (.cta)</button>
<button class="button cta" disabled>Call To Action (.cta) (disabled)</button>

<h2>Link-based buttons</h2>
<a href="#" class="button">Default Button</a>
<a href="#" class="button" disabled>Default Button (disabled)</a>
<a href="#" class="button cta">Call To Action (.cta)</a>
<a href="#" class="button cta" disabled>Call To Action (.cta) (disabled)</a>
{% endblock %}
