@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(365deg);
        transform: rotate(365deg);
    }
}

.throbber {
    // This will normally be overlaid hence it needs it's own background.
    background: $bg-color;
    background: rgba(244, 244, 244, 0.9);
    bottom: 0;
    grain();
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;

    .msg {
        text-align: center;
    }

    .progress {
        display: block;
        margin: 80px auto 0;
        height: 50px;
        width: 50px;
        animation(1s spin infinite steps(12));
        background: transparent embedurl('throbber.png') no-repeat 50% 50%;
    }
}


