// This is FF only at present.

.throbber {
    // This will normally be overlaid hence it needs it's own background.
    background: $bg-color;
    bottom: 0;
    grain();
    left: 0;
    overflow: hidden; // Required as FF18 makes progress larger than needed.
    padding-top: 80px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;

    .msg {
        max-width: calc(100%-40px);
        text-align: center;
    }
}

progress:indeterminate {

    // Nuke the default background.
    &::-moz-progress-bar {
        background: none;
    }

    animation(unquote('0.9s spin infinite linear'));
    background: transparent embedurl('throbber.png') no-repeat 50% 50%;
    border: none; // Removes the progress element border.
    display: block;
    margin: 0 auto;
    height: 50px;
    width: 50px;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(365deg); }
}
