*.a
*.d
*.dylib
*.gypi
*.mk
*.mo
*.node
*.o
*.pyc
.DS_Store
bower_components
docs/_build
gyp-mac-tool
public/css/*.css
public/locale/*
node_modules/grunt-i18n-abide/node_modules/jsxgettext/node_modules/gettext-parser/node_modules/iconv/build
node_modules/i18n-abide/node_modules/jsxgettext/node_modules/gettext-parser/node_modules/iconv/build
uitest/captures/*
node_modules
config/local.js
messages.json
styleguide/static/src/*
tests/captures
public/js/templates.js
