<!DOCTYPE html>
<html lang="{{ lang }}" dir="{{ lang_dir }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Fake Provider</title>
    <link rel="stylesheet" href="/css/spartacus.css">
  </head>
  <body>
    <div id="view" class="view">
      <div class="error full-error">
        <div class="inner">
          <section class="content error">
            <div class="msg">
              <h1>Fake Provider</h1>
              <p>This is a stand-in for the provider pages. Click the button to continue as if this is a successful payment.</p>
            </div>
          </section>
          <menu class="buttons" type="toolbar">
            <a class="button cta" href="/mozpay/spa/provider/boku/wait-to-finish">Click to Complete Purchase</a>
          </menu>
        </div>
      </div>
    </div>
  </body>
</html>
