<!DOCTYPE html>
<html lang="{{ lang }}" dir="{{ lang_dir }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Webpay | {{ gettext('Loading')}}</title>
    <link rel="stylesheet" href="/css/spartacus.css">
  </head>
  <body
    class="dev-server"
    data-base-api-url="{{ settings.baseApiUrl }}"
    data-privacy-policy="https://marketplace.firefox.com/privacy-policy"
    data-reset-user-url="{{ settings.resetUserURL }}"
    data-terms-of-service="https://marketplace.firefox.com/terms-of-use"
    data-unverified-issuer="{{ settings.browseridUnverifiedIssuerl }}"
    data-verify-url="{{ settings.verifyUserURL }}"
    data-reverify-url="{{ settings.reVerifyUserURL }}"
    data-bango-logout-url="/fake/bango/logout/"
    data-static-docs-url="{{ settings.staticURL }}"
    {% if transaction_status_url -%}
      data-trans-start-url="{{ transaction_status_url }}"
    {%- else -%}
      data-trans-start-url="/poll-wait-to-start"
    {%- endif %}
    data-trans-status-completed="1"
    data-trans-status-pending="0"
    data-trans-status-failed="4"
    data-trans-status-cancelled="5"
    data-settings="{{ settings.appSettingsOverrides }}"
    data-start-view="{{ startView }}"
    data-error-code="{{ errorCode }}"
    >
    <main id="app">
      <div id="view" class="view"></div>
      <div id="progress" class="progress">
        <div class="throbber">
          <div class="inner">
            <div class="progress"></div>
            <p class="msg">{{ gettext('Loading')}}</p>
          </div>
        </div>
      </div>
      <div id="error" class="error"></div>
    </main>
    <script src="{{ settings.browseridJsURL }}"></script>
    {% if settings.useMinJS == true -%}
      <script src="/js/main.min.js"></script>
    {%- else -%}
      <script data-main="/js/main.js" src="/lib/js/requirejs/require.js"></script>
    {%- endif -%}
  </body>
</html>
