{% macro button(value, modifier='', disabled=false, identifier='') -%}
  <button {% if identifier %}id="{{ identifier }}" {% endif %}class="button{% if modifier %} {{ modifier }}{% endif %}"{% if disabled %} disabled{% endif %} type="submit">{{ value }}</button>
{%- endmacro %}

{% macro linkButton(value, modifier='', href='#', disabled=false) -%}
  <a class="button{% if modifier %} {{ modifier }}{% endif %}{% if disabled %} disabled{% endif %}" href="{{ href }}">{{ value }}</a>
{%- endmacro %}
