{% extends 'base.html' %}
{% import "_macros.html" as macro %}

{% block pageclass %}{% if pageclass %}{{ pageclass }}{% else %}full-error{% endif %}{% endblock %}

{% block page %}
  <section class="content error">
    <div class="msg">
      <h1>{{ heading }}</h1>
      <p>{{ msg }}</p>
      {% if error_code %}<p class="error-code">{{ error_code }}</p>{% endif %}
    </div>
  </section>

  <menu class="buttons" type="toolbar">
    {% block buttons %}
      {{ macro.button(gettext('Cancel'), modifier='cancel') }}
      {{ macro.button(gettext('OK'), modifier='cta') }}
    {% endblock %}
  </menu>
{% endblock %}
