{% extends 'base.html' %}
{% import "_macros.html" as macro %}

{% block pageclass %}{% if pageclass %}{{ pageclass }}{% else %}full-error{% endif %}{% endblock %}

{% block page %}
  <section class="content error">
    <div class="msg">
      <h1>{{ heading }}</h1>
      <p class="message">{{ msg }}</p>
      {% if errorCode %}<p class="error-code">{{ errorCode }}</p>{% endif %}
    </div>
  </section>

  <menu class="buttons" type="toolbar">
    {% if showCancel %}
      {{ macro.button(cancelText, modifier=cancelModifier) }}
    {% endif %}
    {% if showCta %}
      {{ macro.button(ctaText, modifier='cta') }}
    {% endif %}
  </menu>
{% endblock %}
