{% extends 'base.html' %}
{% import "_macros.html" as macro %}

{% block pageclass %}{% if pageclass %}{{ pageclass }}{% else %}full-error{% endif %}{% endblock %}

{% block page %}
  <section class="content error">
    <div class="msg">
      <h1>{{ heading }}</h1>
      <p>{{ msg }}</p>
      {% if errorCode %}<p class="error-code">{{ errorCode }}</p>{% endif %}
    </div>
  </section>

  <menu class="buttons" type="toolbar">
    {% if showCancel %}
      {% if cancelText %}
        {{ macro.button(cancelText, modifier='cancel') }}
      {% else %}
        {{ macro.button(gettext('Cancel'), modifier='cancel') }}
      {% endif %}
    {% endif %}
    {% if showCta %}
      {% if ctaText %}
        {{ macro.button(ctaText, modifier='cta') }}
      {% else %}
        {{ macro.button(gettext('OK'), modifier='cta') }}
      {% endif %}
    {% endif %}
  </menu>
{% endblock %}
