{% extends 'base.html' %}
{% import "_macros.html" as macro %}

{% block pageclass %}pin{% endblock %}

{% block page %}
<section class="content">
  <h1>{{ pinTitle }}</h1>
  <input id="pin" type="number" x-inputmode="digit" />
  <div class="pin-container">
    <div class="pinbox">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    {% if showFxATerms -%}
      <p class="terms">{{ format(gettext('By proceeding you agree to our <a href="%(terms)s">terms</a> and <a href="%(privacy)s">Privacy Policy</a>'), {
            'terms': 'https://marketplace.firefox.com/terms-of-use',
            'privacy': 'https://marketplace.firefox.com/privacy-policy' }, true)|safe }}</p>
    {%- endif %}
    {% if showForgotPin -%}
      <p class="forgot-pin"><a href="#">{{ gettext('Forgot your PIN?') }}</a></p>
    {%- endif %}
    <p class="err-msg hidden"></p>
  </div>
</section>

{% block buttons %}
<menu class="buttons" type="toolbar">
  {{ macro.button(gettext('Cancel'), modifier='cancel') }}
  {{ macro.button(ctaText, modifier='cta', disabled=true) }}
</menu>
{% endblock %}

{% endblock %}
