{% extends 'base.html' %}
{% import "_macros.html" as macro %}

{% block mainclass %}pin{% endblock %}

{% block page %}
<section class="content">
  <h1>{% block heading %}{% endblock %}</h1>
  <input id="pin" type="number" x-inputmode="digit">
  <div class="pinbox">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</section>

<menu class="buttons" type="toolbar">
  {{ macro.button(gettext('Cancel')) }}
  {{ macro.button(gettext('Continue'), modifier='cta continue', disabled=true) }}
</menu>
{% endblock %}
