{% extends 'base.html' %}
{% import "_macros.html" as macro %}

{% block page %}
  <section class="content reset-start">
    <h1>{{ gettext('Forgot your PIN?') }}</h1>
    {% if useFxA %}
      <p>{{ gettext('Are you sure you want to reset your PIN? You must sign in to Firefox Accounts to reset your PIN.') }}</p>
    {% else %}
      <p>{{ gettext('Are you sure you want to reset your PIN? You must sign in to Persona to reset your PIN.') }}</p>
    {% endif %}
  </section>

  <menu class="buttons" type="toolbar">
    {{ macro.button(gettext('Back'), modifier='back') }}
    {{ macro.button(gettext('Reset'), modifier='cta') }}
  </menu>
{% endblock %}
